<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'"></script>
    <script src="https://kit.fontawesome.com/46efef2c4e.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body class="home">
    <header>
        <section class="header__primerLinea">
            <div class="header__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="header__busqueda">
                <form action="#">
                    <input type="text" placeholder=" Buscar productos, marcas" name="search">
                    <button>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="header__primerTexto">
                <span><i class="fa-solid fa-hand-holding-dollar"></i></span>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </section>
        <section id="header__menu">
            <nav>
                <div class="header__menuTexto">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </div>
                <div class="header__menuIconos">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                        <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </div>
            </nav>
        </section>
        <div>
            <button id="header__burger"><i class="fa-solid fa-bars"></i></button>
        </div>
        <br>
    </header>
    <div class="main__banner">
    </div>
    <main>
        <section>
            <h2>Basados en tu útlima visita</h2>
            <section class="primer-bloque-art">
                <article>
                    <div class="main__image">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$6.770</p>
                            <span>40% off</span>
                        </section>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$230.000</p>
                            <span>20% off</span>
                        </section>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$70.500</p>
                            <span>10% off</span>
                        </section>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$23.200</p>
                            <span>5% off</span>
                        </section>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
            <h2>Ofertas</h2>
            <section class="segundo-bloque-art">
                <article>
                    <div class="main__image">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$6.770</p>
                            <span>40% off</span>
                        </section>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$230.000</p>
                            <span>20% off</span>
                        </section>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$70.500</p>
                            <span>10% off</span>
                        </section>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div class="main__image">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart" width="300">
                    </div>
                    <div class="main__detalle">
                        <div class="main__truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <section class="main__precios-descuentos">
                            <p>$23.200</p>
                            <span>5% off</span>
                        </section>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <section class="footer__container">
            <article class="footer__box">
                <div class="footer__icono">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo </h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efecivo en puntos de pago,
                    ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__box">
                <div class="footer__icono">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer__box">
                <div class="footer__icono">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que puedas hacer, porque estás
                    siempre protegid@.</p>
            </article>
        </section>
        <div class="footer__final">
            <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>