<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register.html" method="POST">
        <div class="container">
              <label for="nombre">Nombre y Apellido:</label>
              <input type="text" name="nombre" id="nombre">
              <span class="register_text-error">*Obligatorio</span>
        </div>
       <div class="container">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="usuario">
            <span class="register_text-error">*Obligatorio</span>
        </div>
       <div class="container">
              <label for="email">E-mail:</label>
              <input type="email" name="email" id="email">
              <span class="register_text-error">*Obligatorio</span>
        </div>
       <div class="container">
              <label for="password">Contraseña:</label>
              <input type="password" name="password" id="password">
              <span class="register_text-error">*Obligatorio</span>
        </div>
       <div class="container">
            <label for="date">Fecha de nacimiento:</label>
            <input type="date" name="fecha" min="1930-01-01" max="2018-01-01" id="date" required>
        </div>
       <div class="container">
            <label for="avatar">Foto de perfil</label>
            <input type="file" name="avatar" accept=".jpg">
        </div>
       <div class="container">
            <label for="telefono">Teléfono</label>
            <input type="tel" name="telefono" id="telefono">
        </div>
       <div class="container">
            <label for="direccion">Dirección</label>
            <input type="address-line1" name="direccion" id="direccion">
        </div>
       <div class="container">
            <label>Busco</label>
            <label> <input type="radio" name="perfil" value="Vender"></label> Vender
           <label><input type="radio" name="perfil" value="Comprar"></label> Comprar
        </div>
        <div class="container">
            <label>Categorías de interés</label> <br>
            <label> <input type="checkbox" name="categorias" value="Electro"></label> Electro
           <label><input type="checkbox" name="categorias" value="Moda"></label> Moda 
           <label><input type="checkbox" name="categorias" value="Hogar"></label> Hogar
           <label><input type="checkbox" name="categorias" value="Juguetería"></label> Juguetería
           <label><input type="checkbox" name="categorias" value="Vida sana"></label>Vida sana
        </div>
      </form>
</body>
</html>