footer{

    width: 100%;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    color: var(--gris-oscuro);
}

footer section{
    padding: 20px 20px;
}

.footer__icono i{
    font-size: 2em;
    color:blue;
    margin-bottom: 10px;
}

footer h4{
    font-size: var(--descuentos-descripciones);
}


.footer__final{
    margin-top: 40px;
    text-align: left;
    padding: 0 10px;
}