.header__entero{
    background-color: var(--amarillo);
}

.header__encabezado{
    margin-left: 20px;
}


.header__logo{
    padding-top: 20px;
    width: 50%;

}

.header__busqueda{
    padding-top: 10px;
    padding-bottom: 20px;
}

.header__primerTexto{
    font-size: 12px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
}

#header__menu a{
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}

.header__menú-íconos{
    padding-top: 20px;
}

#header__burger{ 
    display: block;
    padding: 5px;
    width: 40px;
    color: white;
    background-color: var(--celeste);
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
}
