.header__entero{
    margin: 0px auto;
    background-color: var(--amarillo);
}

.header__encabezado{
    margin-left: 20px;
}


.header__logo{
    padding-top: 20px;
    width: 50%;

}

.header__busqueda{
    padding-top: 10px;
    padding-bottom: 20px;
}

.header__primerTexto{
    font-size: var(--texto);
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
}

#header__menu a{
    display: none;
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}

.header__menú-íconos{
    padding-top: 20px;
}

#header__burger{ 
    display: block;
    padding: 5px;
    width: 60px;
    color: white;
    background-color: var(--celeste);
    border-radius: 8px;
    border: none;
    margin: 0px auto;
    text-align: center;
    font-size: 35px;
}

/* tablets */
@media (min-width: 460px){
    #header__burger{ 
        display: none;
    }
    #header__menu a{
        display: block;
    }
}

/* desktop */
@media (min-width: 769px){
    #header__burger{ 
        display: none;
    }
    #header__menu a{
        display: block;
    }
}