.login {
    background-color: var(--amarillo);
    width: 100%;
}

.login h1 {
    color: var(--azul);
    text-align: center;
    text-shadow: 2px 2px 2px var(--gris-oscuro);
}


.login .formulario {
    background-color: var(--gris-claro);
    width: 80%;
    display: flex;
    border: 2px solid var(--gris-oscuro);
    box-shadow: 10px 5px 5px var(--gris-oscuro);
    padding: 30px 20px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.login .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 21px;
}

.botones button {
    background-color: var(--azul);
    color: white;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 2px 4px 4px var(--gris-oscuro);
    border-radius: 8px;
    padding: 5px;

}

.login .login__logo img {
    margin: 20px 10px 10px;
}

@media (min-width: 460px) {
    .login .formulario {
        width: 60%;
    }
}

@media (min-width: 769px) {
    .login .formulario {
        width: 40%;
    }
}