.home main {
    margin: 0px auto;
    background-color: var(--gris-claro);

}

.home main section {
    width: 100%;
    padding: 15px;
}

.home main section article {
    margin: 10px 0;
    background-color: white;
}

.home .main__image {
    text-align: center;
}

/*Titulares*/
.home main h2 {
    padding-left: 14px;
    color: var(--gris-oscuro);
    font-size: var(--titulares);
    font-weight: bolder;
}

/*camión*/
.home .main__truck {
    color: var(--verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.home .main__truck:hover {
    transform: rotateZ(260deg);
    transition: 0.9s;
}

.home .main__detalle {
    padding: 15px 0;
    border: 1px solid var(--gris-claro);
    position: relative;
}

.home main p {
    font-size: var(--precios);
}

.home main span,
h4 {
    font-size: var(--descuentos-descripciones);
}

/*Descuentos*/
.home main span {
    color: var(--verde);
}

/*Nombre productos*/
.home main h4 {
    display: block;
    padding-top: 10px;
    color: var(--gris-oscuro);
    margin-left: 14px;
    visibility: hidden;
}

.home .main__detalle:hover h4 {
    visibility: visible;
}

.home .main__precios-descuentos {
    display: flex;
}

.home .main__precios-descuentos p {
    width: 30%;
    margin-right: 20px;
}


/* tablets */
@media (min-width: 460px) {
    .home .main__banner {
        display: block;
        background-image: url('/images/img-home-banner.jpg');
        background-size: cover;
        width: auto;
        height: 30%;
    }

    .home main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home .primer-bloque-art,
    .segundo-bloque-art {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }

    .home .main__image img {
        width: 100%;
    }

    .home article {
        width: 40%;
    }

    .home .main__precios-descuentos p {
        margin-right: 40px;
    }

}

/* desktop */
@media (min-width: 769px) {

    .home .main__image img {
        width: 100%;
    }

    .home article {
        width: 20%;
        justify-content: space-between;
    }

    .home .main__precios-descuentos p {
        margin-right: 40px;
    }
}