main {
    margin: 0px auto;
    background-color: var(--gris-claro);

}


main section{
    width: 100%;
    padding: 15px;
}



main section article{
    margin: 10px 0;
    background-color: white;
}

.main__banner{
    display: none;
}

.main__image{
    text-align: center;
}


.main__truck{
    color: var(--verde);
    padding: 30px;
    border: 1px solid var(--verde);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    font-size: 20px;
}


.main__detalle{
    padding: 15px;
    border: 1px solid var(--gris-claro);
}



.main__titulares{
   color: var(--gris-oscuro);
   font-size: var(--titulares);
}

.main__precios{
    font-size: var(--precios);
 
}

.main__descuentos-descripciones{
    font-size: var(--descuentos-descripciones);
}

.main__descuentos-descripciones p{
    color: var(--verde);
}

.main__descuentos-descripciones h4{
    display:none;
    padding-top: 20px;
    color: var(--gris-oscuro);
}

/* tablets */
@media (min-width: 460px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main__descuentos-descripciones h4{
        display: block;
        padding-top: 20px;
        color: var(--gris-oscuro);
    }
}

/* desktop */
@media (min-width: 769px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main__descuentos-descripciones h4{
        display: block;
        padding-top: 20px;
        color: var(--gris-oscuro);
    }
}