.register main {
    background-color: var(--amarillo);
    width: 100%;
    padding-top: 1px;
    padding-bottom: 50px;
}

/*Bienvenido*/
.register h1 {
    color: var(--azul);
    text-align: center;
    text-shadow: 2px 2px 2px var(--gris-oscuro);
}

.register_text-error {
    color: var(--rojo);
}

.register .formulario {
    background-color: var(--gris-claro);
    width: 80%;
    display: flex;
    border: 2px solid var(--gris-oscuro);
    box-shadow: 10px 5px 5px var(--gris-oscuro);
    padding: 30px 20px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.register .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register .categorias {
    padding-left: 40%;
    display: inline-block;
    line-height: 2;
}

.register .botones {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    padding: 21px;

}

.register .botones button {
    background-color: var(--azul);
    color: white;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 2px 4px 4px var(--gris-oscuro);
    border-radius: 8px;
    padding: 5px;
}

.register .register__logo img {
    margin: 20px 10px 10px;
}

@media (min-width: 460px) {
    .register main {
        padding-top: 10px;
    }

    .register .formulario {
        width: 60%;
    }

}

@media (min-width: 769px) {
    .register .formulario {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .register .container {
        width: 30%;
    }


    .register .container-vacio {
        width: 10%;
    }
}